
html,body{
    width: 100%;
    height: 99vh;
    overflow: hidden;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.login-container {
    display: grid; 
    grid-template-rows: 4fr 1fr;
    max-height: 320px;
    min-height: 320px;
}
input[type="text"] {
    padding: 10px 8px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid darkgray;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
}
.inputs {
    text-align: center;
    align-self: center;
    justify-self: center;
}
.submit {
    margin-top: 9px;
    padding: 20px;
    background: rgb(99, 99, 212);
    color: white;
    font-size: 16px;
}
.chat-message {
    width: 70%;
    margin-top: 4px;
    padding: 4px;
    text-align: left;
    word-wrap: break-word;
    margin: 5px;
}
.from-admin {
    background: rgb(150, 178, 183);
    color: rgb(39, 37, 37);
    float: left;
}
.from-client {
    background: rgb(48, 13, 79);
    color: white;
    float: right;
}
.input-container {
    margin: 0px;
}
.chat-input {
    width: 99%; 
    margin-bottom: 0px;
}
.client-messages {
    overflow-y: scroll; 
    height: 320px;
}
.chat-container {
    position: fixed; 
    right: 0px; 
    bottom: 0px; 
    width: 400px; 
    z-index: 100000; 
    box-sizing: border-box;
}
.head {
    padding: 9px; 
    display: grid; 
    background-color: rgb(48, 13, 79); 
    color: white; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.chat-box {
    border-left: 1px solid rgb(48, 13, 79);
    border-right: 1px solid rgb(48, 13, 79);
    background: lightgray;
}